.breadcrumbtype {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.skillslist{
    display: grid;
    grid-auto-columns: minmax(100px, auto);
    grid-template-columns: repeat(auto-fill,minmax(100,1fr));
    grid-gap: 10px;
    grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
    width: 100%;
    margin-left: 13px;

}
.create{
    border-radius: 0%;
    height: 42px;
    margin-top: 28px;
}

ul,li{
    list-style-type:none;
    padding-left:5px;
    margin-bottom: 0;
}



@media (min-width:770px){
    .marking{
        display: flex;
    }
    .marking:before{
        padding-left: 5px;
        display: inline-block;
        padding-right: .5rem;
        color: #6c757d;
        content: "|";
    }
    /* .skillslist{
        margin-left: 13px;
        
    } */

}
@media (max-width:770px){
    /* .skillslist{
        display: flex;
    
    } */
    .cardseparations{
        margin-bottom: 22px;
    }
    li{
        margin-bottom:10px;
        
    }
}

.skillslist li{
    margin:0 13px;
    list-style-type:disc;
}

#search1{
    background-color: white;
    border-radius: 2px;
    margin-top: 5px;
    height: 42px;
    width: 200px;
    border: 1px solid #D7D7D7;
}
.searchme{
    border-radius: 0%;
    height: 42px;
    margin-top: 5px;
}


input[type="radio"] {
    display: none;
  }
input[type="radio"]:checked + .box {
    background-color: none;
    padding: 15px 13px; 
border-radius:12px; }
input[type="radio"]:checked + .box span {
    color: white;
    transform: translateY(70px);
  }
input[type="radio"]:checked + .box span:before {
    transform: translateY(0px);
    opacity: 1;
  }

.sessionlookicon{
    margin:auto 0;
    font-size:1.3rem;
}

.iconcolumn:focus,.iconcolumn:focus-within{
    background-color:yellow;
    padding:30px;
}

.iconcolumn{
    cursor: pointer;
}
.emailtext{
 height: 0;
 overflow: hidden;
 transition: .7s height;
 margin-bottom: 10px;
display: flex;

}
.inside{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.hiddenbutton{
    color: black !important;

}
.hiddenbutton:hover{
    color:purple !important
}
#themepage{
    font-size: 1.5rem;
}
#default{
    font-size: 1.3rem;
}
#link{
    font-size: 1.3rem;
}
#heading_Comm{
    font-size: 1.5rem;
}
.headingCA{
    font-size: 1.3rem;
    margin-left: 40px;
}
#headingPE{
    font-size: 1.3rem;
    margin-left: 40px;
}
#headingMoS{
    font-size: 1.3rem;
    margin-left: 40px;
}
#libraryh{
    font-size: 1.5rem;
}
.edit{
    margin-top: 30px;
}
#avatar{
    width: 60%;
    margin-top: 10px;
}
.design{
    cursor: pointer;
    width: 100%;
}

#lower-icons{
    margin-right: auto;    
    font-size: 300%;
    text-align: center;
    margin-top: 10px;
    color: white;
}
.btn12{
    display: flex;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 0%;
}
input[type="file"] {
    display: none;
}
.btn13{
    display: flex;
    margin-top:40px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 0%;
}
@media(max-width: 830px){
    .btn13{
        width: 80%;
    }
}
.colorchange:hover{
    color: white;
}

#buttonselect{
    border-radius: 3px;

}
.butn{
    border-radius: 0%;
}
.delete{
    float: right;
    margin-bottom: 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 3px;
}
.delete2{
    float: right;
    margin-bottom: 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 3px;
    height:30px;
}
.delete:hover{
    box-shadow: 0px 0px 4px 2px rgb(158, 158, 158);
    transition: .2s;
}
.butun{
    display: flex;
    margin-left: auto;
    border-radius: 0%;
}
.card2{
    width: 120px;
    height: 110px;
    border-radius: 0%;
    background-color:#4EB5F1;
    border: none;
    color: white;
}
.card2:focus{
    border:5px solid #fdd835;
}
.row-ico{
    margin-left: 20%;
    margin-right:20%;
}
.card2:hover{
    background-color: #3cacec;
    transition: .3s;
}
.input-label-1{
    margin-top: 10px;
    margin-left:auto;
    font-size: 25px;
    margin-right: 40px;
}
.input-label-2{
    margin-top: 10px;
    margin-right:auto;
    margin-left: 40px;
    font-size: 25px;
}
#search{
    width: 25%;
    border: none;
    background-color: #F8F8F8;
}
#searchbutton{
    border-radius: 0%;
}
