<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
    <script defer src="//unpkg.com/grapesjs"></script>
    <script defer src="index.js"></script>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }
    </style>
    <script>
        const ThemeId = "<%= themeid %>";
        console.log('❓ Script chal rhi hai ')
    </script>
    <title>Sample</title>

</head>

<body>
    <div id="gjs" style="height:0px; overflow:hidden;">
    </div>
</body>


</html>