.heading{
    margin-left: 13%;
    color: white;
}
.heading2{
    display: flex;
    margin-left: 60px;
    justify-content: center;
    color: white;
}
.icons{
    margin-left: 5%;
    font-size: 25px;
}
#fb{
    color: #4867AA;
}
#insta{
    color: #813D93;
}
#twi{
    color: #50ABF1;
}
.a{
    margin-left: 0%;
}
.page-footer{
    height: 40px;
    background-color: #30233B;
}