.heading{
    margin-left: 3%;
    color: white;
    text-align: center;
}
.heading2{
    display: flex;
    font-size: 70%;
    color: white;
}
.icons{
    font-size: 100%;
}
#fb{
    color: #4867AA;
}
#insta{
    color: #813D93;
}
#twi{
    color: #50ABF1;
}
.a{
    margin-left: 0%;
}

.Logo{
    width: 150%;
}
.noti{
    color: #8F9BB3;
    display: inline-block;
    font-size: 35px;
    margin-left: 15px;
    margin-bottom: 3px;
    cursor: pointer;
}
.menuicon{
    font-size:29px;
}
.chat{
    color: #8F9BB3;
    display: inline-block;
    font-size: 25px;
    margin-left: 10%;
    font-weight: bold;
    cursor: pointer;
}
@media screen and (max-width: 830px) {
    .Logo{
        width:400%;
        margin-right: 100px;
    }
    img#mob{
        display: inline-block;
     }
 
    #com{
        display: none;
    }



    .chat, .noti{
        font-size: 20px;
        margin-top: 5px;
    }
    .toggle{
        margin-right:40%;
    }
}
.navbar{
    height: 100px;
}
.page-footer{
    border-top:1px solid rgb(190, 190, 190);
    /* height: 10%; */
    position: relative;;
    bottom:0;
    background-color: #30233B;
    margin-top: 40%;

}
.name{
    font-size: 20px;
}
.img{
    width: 40px;
}
.copy{
    text-align: left;
   /*  margin-left: 14%; */
    margin-top: 20px;
    font-size: 15px;
    color: white;
}
.copy1{
    text-align: left;
  margin-left: 30px; 
    margin-top: 20px;
    font-size: 15px;
    color: white;
}
.col1{
    color: white;
}


@media(max-width:830px){
    .page-footer{
        border-top:1px solid rgb(190, 190, 190);
         height: 90px; 
        margin-top: 0px;
        background-color: #F8F8F8;
    }
    .copy{
        color: #30233B;
        text-align: center;
    }
    .copy1{
        color: #30233B;
        text-align: center;
    }
    .navbar{
        height:70px;
    }
    .rights{
        margin-right: 50px;
    }
    .fbicon{
        margin-right: 40px;
    }
    .deliver{
        color :black;
    }


}

.count{
    font-size: 10px;
}
#mob{
   display: none;
}
/* #com{display: inline;} */