.heading{
    margin-left: 3%;
    color: white;
    text-align: center;
}
.heading2{
    display: flex;
    font-size: 70%;
    color: white;
}
.icons{
    font-size: 100%;
}
#fb{
    color: #4867AA;
}
#insta{
    color: #813D93;
}
#twi{
    color: #50ABF1;
}
.a{
    margin-left: 0%;
}
.page-footer{
    margin-top: auto;
    height: 40%;
    background-color: #30233B;
}
.Logo{
    width: 120%;
}
.noti{
    color: #8F9BB3;
    display: inline-block;
    font-size: 29px;
    margin-left: 15px;
    margin-bottom: 3px;
    cursor: pointer;
}
.menuicon{
    font-size:29px;
}
.chat{
    color: #8F9BB3;
    display: inline-block;
    font-size: 25px;
    margin-left: 10%;
    font-weight: bold;
    cursor: pointer;
}
@media screen and (max-width: 830px) {
    .Logo{
        width: 100px;
    }
    .navj{
        width:100%;
    }

    .Logo{
        width: 100%;
    }
    .chat, .noti{
        visibility: hidden;
    }
    .toggle{
        margin-right:40%;
    }
}
.footer{
    border-top:1px solid rgb(190, 190, 190);
    
}
.name{
    font-size: 20px;
    
}
.img{
    width: 40px;
}