#myicon{
    font-size: 470%;
}
#crd{
    height: 150px;
    border-radius: 0%;
}
#crd:hover{
    
    cursor: pointer;
    box-shadow: 0px 2px 7px 3px #5f5f5f;
    transition: .7s;
}
.head{
    font-size: 250%;
    margin-top: 20%;
}
@media (max-width: 820px){
    #l1{
        width: 200%;
    }
}
#dott{
    width: 8px;
    height: 8px;
    background-color: #6FB327;
   margin-left: 10px;
    display: inline-block;
    border: none;
    border-radius: 50%;
}

#dott2{
    width: 8px;
    height: 8px;
    background-color: #FF9F1D;
   margin-left: 10px;
    display: inline-block;
    border: none;
    border-radius: 50%;
}
#dott3{
    width: 8px;
    height: 8px;
    background-color: #2EC4B6;
   margin-left: 10px;
    display: inline-block;
    border: none;
    border-radius: 50%;
}
.thecard{
    width:50%;
}
#dott4{
    width: 8px;
    height: 8px;
    background-color: #FF9F1D;
   margin-left: 10px;
    display: inline-block;
    border: none;
    border-radius: 50%;
}

#dott5{
    width: 8px;
    height: 8px;
    background-color: #6FB327;
   margin-left: 10px;
    display: inline-block;
    border: none;
    border-radius: 50%;
}
#dott6{
    width: 8px;
    height: 8px;
    background-color: #2EC4B6;
   margin-left: 10px;
    display: inline-block;
    border: none;
    border-radius: 50%;
}
#no{
    line-height: 5px;
}
.line{
    width: 97%;
}
Card{
    border-radius: 0%;
}
#search{
    width: 25%;
}
#searchbutton{
    border-radius: 0%;
}