#card121{
    background-color: #FF9F1C;
    border-radius: 0%;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
#card121:hover{
    box-shadow: 0px 3px 6px 5px rgb(129, 129, 129);
    transition: .7s;
}
#card122{
    background-color: #2EC4B6;
    border-radius: 0%;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
#card122:hover{
    box-shadow: 0px 3px 6px 5px rgb(129, 129, 129);
    transition: .7s;
}
#card123{
    background-color: #ff6875;
    border-radius: 0%;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
#card123:hover{
    box-shadow: 0px 3px 6px 5px rgb(129, 129, 129);
    transition: .7s;
}
#card124{
    background-color: #1E90FF;
    border-radius: 0%;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
#card124:hover{
    box-shadow: 0px 3px 7px 5px rgb(129, 129, 129);
    transition: .7s;
}
#users{
    font-size: 50px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
#number{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
#small{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 2px;
}
#dot{
    width: 8px;
    height: 8px;
    background-color: #6FB327;
   margin-left: 10px;
    display: inline-block;
    border: none;
    border-radius: 50%;
}

#dot2{
    width: 8px;
    height: 8px;
    background-color: #FF9F1C;
    display: inline-block;
    margin-left: 10px;
    border: none;
    border-radius: 50%;
}
#dot3{
    width: 8px;
    height: 8px;
    background-color: #2EC4B6;
    display: inline-block;
    margin-left: 10px;
    border: none;
    border-radius: 50%;
}
#heading_dash{
    font-size: 1.5rem;
}
@media (max-width:830px){
    #cb{
        width: 200%;
    }

}
.thecard{
    width:50%;
}
.ccc{
    width: 97%;
}
#search{
    width: 300px;
    border: none;
    background-color: #F8F8F8;
}
#searchbutton{
    border-radius: 0%;
}
